@page "/admin-clients"
@using Microsoft.AspNetCore.Authorization
@using webStudio.Components.Layout
@layout AdminLayout
@using System.Globalization
@inject CategoryService _categoryService
@inject AppointmentUserService _appointmentUserService
@inject CosmetologyService _cosmetologyService
@inject MassageService _massageService
@inject NavigationManager _navigationManager
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin")]

<h3 style="padding-top: 2%;"></h3>
<div class="container mt-4">
    <h3 style="color:hotpink">Записи клієнтів</h3>
</div>

<main class="container">
    <section class="card card--elevated">
        <header class="card__header">
            <div>
                <h1 class="title">Календар записів</h1>
                <p class="subtitle">Оберіть день і перегляньте всі записи за послугами</p>
            </div>
           @*  <div class="controls">
                <label class="control">
                    <span class="control__label">Дата</span>
                    <input class="control__input" type="date" value="2025-08-19" />
                </label>
            </div> *@
        </header>

        <div class="divider"></div>

        <section aria-label="Список записів" class="cards">
            @foreach(var item in appointmentUsers)
            {
                <article class="entry">
                    <div class="entry__row">
                        @foreach (var itemCategory in categories.Where(c => c.Id == item.CategoryId))
                        {
                            <span class="badge badge--massage">@itemCategory.NameCategory</span>
                        }                        
                        <span class="time">@item.SetHour - @(item.SetHour.AddMinutes(60))</span>                        
                    </div>
                    <div class="text-end">
                        <span>@item.Date.ToString("dd.MM.yyyy")</span>
                    </div>
                    <div class="client"><strong>@item.FullName</strong></div>
                    @foreach (var itemMassage in massageTherapyCards.Where(c => c.Id == item.ServiceId))
                    {
                        <div class="procedure">@itemMassage.TitleCard</div>
                        <div class="meta">
                            <span class="duration">@itemMassage.Price.ToString("C0", new System.Globalization.CultureInfo("uk-UA"))</span>                           
                        </div>
                    }                 
                   
                </article>
            }                  
                    
        </section>
    </section>
</main>
@code {
    private List<AppointmentUser> appointmentUsers = new();
    private List<Category> categories = new();
    private List<MassageTherapyCard> massageTherapyCards = new();

    protected override async Task OnInitializedAsync()
    {
        appointmentUsers = await _appointmentUserService.GetAllAppointmentUseListAsync();
        categories = await _categoryService.GetAllCategoryListAsync();
        massageTherapyCards = await _massageService.GetAllMassageTherapyCardListAsync();
    }
}


