@page "/appointment-confirm"
@page "/appointment-confirm/{Id:int}"

@inject CategoryService _categoryService
@inject AppointmentUserService _appointmentUserService
@inject CosmetologyService _cosmetologyService
@inject MassageService _massageService
@inject NavigationManager _navigationManager
@rendermode InteractiveServer

<h3 style="padding-top: 5%;"></h3>
<div class="container py-4">
    <div class="section-title mb-5 text-center">
        <div class="sub-style">
            <h4 class="sub-title px-3 mb-0">Підтвердження</h4>
        </div>
        <h1 class="display-5 mb-3">Перевірте деталі запису</h1>
        <p>Якщо все вірно — натисніть «Підтвердити».</p>
    </div>      

    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow rounded">
                <div class="card-body p-4">
                     <EditForm Model="@appointmentUser" method="post" OnSubmit="HandleValidSubmit"
                              FormName="AppointmentUser"
                              class="card shadow-sm border rounded-3 p-4 bg-white"
                              style="width: 100%; max-width: 600px;">

                        <DataAnnotationsValidator />
                        <dl class="row mb-0">
                            <dt class="col-5">Ім’я:</dt>
                            <dd class="col-7"><span class="js-name">@appointmentUser.FullName</span></dd>

                            <dt class="col-5">Телефон:</dt>
                            <dd class="col-7"><span class="js-phone">@appointmentUser.Phone</span></dd>
                            @*  ToDo: *@
                            <dt class="col-5">Послуга:</dt>
                            <dd class="col-7"><span class="js-service">Масаж обличчя</span></dd>

                            <dt class="col-5">Дата:</dt>
                            <dd class="col-7"><span class="js-date">@appointmentUser.Date</span></dd>

                            <dt class="col-5">Час:</dt>
                            <dd class="col-7"><span class="js-time">@appointmentUser.SetHour</span></dd>
                           @*  ToDo: *@
                            <dt class="col-5">Оплата:</dt>
                            <dd class="col-7"><span class="js-date">700 грн</span></dd>
                        </dl>

                        <div class="d-flex flex-column flex-md-row gap-3 mt-4">
                            <!-- Кнопка Редагувати -->
                            <a href="/appointment/@Id"
                               class="btn btn-outline-primary rounded-pill shadow-sm flex-fill flex-md-grow-0 text-center">
                                Редагувати
                            </a>

                            <!-- Кнопка Підтвердити -->
                            <button type="submit"
                                    class="btn confirm-btn rounded-pill px-4 flex-fill flex-md-grow-0" style="background-color: #f8b7d8; color: white; border: none;">
                                Підтвердити запис
                            </button>
                        </div>
                      </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

@code{
    [Parameter]
    public int Id { get; set; }
    private AppointmentUser appointmentUser = new();

    protected override async Task OnInitializedAsync()
    {
        appointmentUser = await _appointmentUserService.GetClientAppointment(Id);
    }

    private void HandleValidSubmit()
    {
         appointmentUser.IsConfirmed = true;
         var idClient = _appointmentUserService.SaveClient(appointmentUser);
        _navigationManager.NavigateTo($"/appointment-success/{idClient}");
    }
}