@page "/appointment-confirm"
@page "/appointment-confirm/{Id:int}"

@inject CategoryService _categoryService
@inject AppointmentUserService _appointmentUserService
@inject CosmetologyService _cosmetologyService
@inject MassageService _massageService
@inject NavigationManager _navigationManager
@rendermode InteractiveServer

<h3 style="padding-top: 5%;"></h3>
<div class="container py-4">
    <div class="section-title mb-5 text-center">
        <div class="sub-style">
            <h4 class="sub-title px-3 mb-0">Підтвердження</h4>
        </div>
        <h1 class="display-5 mb-3">Перевірте деталі запису</h1>
        <p>Якщо все вірно — натисніть «Підтвердити».</p>
    </div>      

    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow rounded">
                <div class="card-body p-4">
                     <EditForm Model="@appointmentUser" method="post" OnSubmit="HandleValidSubmit"
                              FormName="AppointmentUser"
                              class="card shadow-sm border rounded-3 p-4 bg-white"
                              style="width: 100%; max-width: 600px;">

                        <DataAnnotationsValidator />
                        @foreach (var item in appointmentUsers.Where(c => c.Id == Id))
                        {
                            <dl class="row mb-0">
                                <dt class="col-5">Ім’я:</dt>
                                <dd class="col-7"><span class="js-name">@item.FullName</span></dd>

                                <dt class="col-5">Телефон:</dt>
                                <dd class="col-7"><span class="js-phone">@item.Phone</span></dd>
                                @foreach (var itemMassage in massageTherapyCards.Where(c => c.Id == item.ServiceId))
                                {
                                    <dt class="col-5">Послуга:</dt>
                                    <dd class="col-7"><span class="js-service">@itemMassage.TitleCard</span></dd>
                                }

                                @foreach (var itemMassage in cosmetologyTherapyCards.Where(c => c.Id == item.ServiceId))
                                {
                                    <dt class="col-5">Послуга:</dt>
                                    <dd class="col-7"><span class="js-service">@itemMassage.TitleCard</span></dd>
                                }

                                <dt class="col-5">Дата:</dt>
                                <dd class="col-7"><span class="js-date">@item.Date.ToString("dd.MM.yyyy")</span></dd>

                                <dt class="col-5">Час:</dt>
                                <dd class="col-7"><span class="js-time">@item.SetHour.ToString("HH:mm") - @(item.SetHour.AddMinutes(60))</span></dd>
                                @foreach (var itemMassagePrice in massageTherapyCards.Where(c => c.Id == item.ServiceId))
                                {
                                    <dt class="col-5">Оплата:</dt>
                                    <dd class="col-7"><span class="js-date">@itemMassagePrice.Price.ToString("C0", new System.Globalization.CultureInfo("uk-UA"))</span></dd>
                                }
                                @foreach (var itemMassagePrice in cosmetologyTherapyCards.Where(c => c.Id == item.ServiceId))
                                {
                                    <dt class="col-5">Оплата:</dt>
                                    <dd class="col-7"><span class="js-date">@itemMassagePrice.Price.ToString("C0", new System.Globalization.CultureInfo("uk-UA"))</span></dd>
                                }
                            </dl>
                        }                       

                        <div class="d-flex flex-column flex-md-row gap-3 mt-4">
                            <!-- Кнопка Редагувати -->
                            <a href="/appointment/@Id"
                               class="btn btn-outline-primary rounded-pill shadow-sm flex-fill flex-md-grow-0 text-center">
                                Редагувати
                            </a>

                            <!-- Кнопка Підтвердити -->
                            <button type="submit"
                                    class="btn confirm-btn rounded-pill px-4 flex-fill flex-md-grow-0" style="background-color: #f8b7d8; color: white; border: none;">
                                Підтвердити запис
                            </button>
                        </div>
                      </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

@code{
    [Parameter]
    public int Id { get; set; }
    private AppointmentUser appointmentUser = new();
    private List<AppointmentUser> appointmentUsers = new();
    private List<Category> categories = new();
    private List<MassageTherapyCard> massageTherapyCards = new();
    private List<CosmetologyTherapyCard> cosmetologyTherapyCards = new();

    protected override async Task OnInitializedAsync()
    {
        appointmentUser = await _appointmentUserService.GetClientAppointment(Id);

        appointmentUsers = await _appointmentUserService.GetAllAppointmentUseListAsync();
        categories = await _categoryService.GetAllCategoryListAsync();
        massageTherapyCards = await _massageService.GetAllMassageTherapyCardListAsync();
        cosmetologyTherapyCards = await _cosmetologyService.GetAllCosmetologyTherapyCardListAsync();
    }

    private void HandleValidSubmit()
    {
         appointmentUser.IsConfirmed = true;
         var idClient = _appointmentUserService.SaveClient(appointmentUser);
        _navigationManager.NavigateTo($"/appointment-success/{idClient}");
    }
}