@page "/massage-therapy"
@using webStudio.Models;

@inject MassageService _massageService
@rendermode InteractiveServer


<h3 style="padding-top: 7%;"></h3>
<section class="text-center pt-32 pb-12 px-4 bg-white">
    <h1 class="text-4xl font-extrabold mb-4" style="color: #f8b7d8;">@titlePage.TitlePage</h1>
    <p class="text-gray-700 text-lg max-w-2xl mx-auto leading-relaxed">
       @titlePage.Description
    </p>
</section>

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="bg-light rounded px-3 py-2 mb-4">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="/" style="color: #f8b7d8;">Домашня сторінка</a></li>
        <li class="breadcrumb-item active" aria-current="page">Масажна терапія</li>
    </ol>
</nav>

<div class="container py-1">
    <div class="row justify-content-center g-4">
        <section>         
            <figure class="figure m-0">
                <div class="row g-3">
                    @foreach (var item in messageTherapyCards)
                    {
                        <div class="col-md-6 col-lg-4">
                            <div class="card h-100 shadow-lg" target="_blank">
                                <div class="ratio ratio-16x9">
                                    <lite-youtube videoid="@item.ImageUrl" style="width: 100%; height: auto;" title="@item.ImageUrl"></lite-youtube>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title" style="color: #f8b7d8;">@item.TitleCard</h5>
                                    <p class="card-text">@item.DescriptionCard</p>
                                </div>
                                <div class="card-footer bg-transparent border-0 text-center  mt-auto">
                                    <i class="bi bi-cash-stack me-1"></i>
                                    @item.Price.ToString("C0", new System.Globalization.CultureInfo("uk-UA"))
                                </div>
                            </div>
                        </div>                    
                    }
                </div>
            </figure>
        </section>       
    </div>
</div>

@code{

    private List<MassageTherapyCard> messageTherapyCards = new();
    private Models.MassageTherapy titlePage = new();

    protected override async Task OnInitializedAsync() 
    { 
        messageTherapyCards = await _massageService.GetAllMassageTherapyCardListAsync();
        titlePage = await _massageService.EditMassageTherapyFirstOrDefaultAsync();
    }
}